<!DOCTYPE html>
<html ng-app="Tareas">
<meta charset="UTF-8">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <script src="app.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>
<body>
	<h3>Tareas</h3>
	<div ng-controller="tareasController as lista">
		<span>{{lista.conteo()}} de {{lista.tareas.length}} Completadas.</span>
		<a href="" ng-click="lista.archivar()">Archivar</a>
		<ul class="unstyled">
			<li ng-repeat="tarea in lista.tareas">
				<label class="checkbox">
					<input type="checkbox" ng-model="tarea.hecho">
					<span class="done-{{tarea.hecho}}">{{tarea.titulo}}</span>
				</label>
			</li>
		</ul>

		<form ng-submit="lista.nuevaTarea()">
			<input type="text" ng-model="lista.texto" placeholder="Introdusca una tarea" required>
			<input type="submit" value="agrega">
		</form>
	</div>
	Archivadas : {{lista.archivadas}}
</body>
</html>